<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Basic -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- Mobile Metas -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<!-- Site Metas -->

<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="author" content="" />

<title>DCBoard</title>
<!-- config.html -->
<th:block th:replace="fragments/config::configFragment"></th:block>
<link href="/css/findIdPw.css" rel="stylesheet">
</head>

<body>

	<div class="hero_area">
		<!-- header section strats -->
		<header th:replace="fragments/header::headerFragment"></header>
		<!-- end header section -->
		<!-- slider section -->
		<section class="about_section layout_padding long_section">

			<div id="c1">
				<div id="left" class="findform">
					<img src="/images/logo.png" id="mainlogo" alt="">
					<h1>ID/PW 찾기</h1>
					
					<div id="btns">
						<div class="btnTitle"><input type="button" id="btnId" value="아이디"></div>
						<div class="btnTitle"><input type="button" id="btnPw" value="비밀번호"></div>
					</div>
					<div id="underline"></div>

					<form method="POST" action="/member/findIdPwOk">
					
						<div id="idBox">
							
							<div class="title">등록된 휴대폰 번호로 찾기</div>
							<div class="content">가입 당시 입력한 휴대전화 번호를 입력해주세요.</div>
					
							<span class="name">이름</span> 
							<input type="text" placeholder="이름" id="idname" name="idname" class="name2" required> 
						
							<span class="name">휴대전화</span>
							<select name="tel1">
								<option value="010" selected="selected">010</option>
								<option value="011">011</option>
								<option value="016">016</option>
								<option value="017">017</option>
								<option value="018">018</option>
								<option value="019">019</option>
							</select> <span class="line">-</span> 
						
							<input type="tel" id="tel2" name="tel2" required> <span class="line">-</span> 
							<input type="tel" id="tel3" name="tel3" required>
						</div>
						
						<div id="pwBox">
						
							<div class="title">등록된 이메일로 찾기</div>
							<div class="content">가입 당시 입력한 이메일을 통해 인증 후 새비밀번호를 등록해주세요.</div>
					
							<input type="text" placeholder="가입된 아이디 입력" id="inputId" name="inputId">  
						
							<span class="name">이름</span> 
							<input type="text" placeholder="이름" id="pwname" name="pwname" class="name2"> 
						
							<span class="name">이메일</span>
							<input type="text" name="email1" id=email1 class="name2" placeholder="이메일"> <span id="emailline">@</span> 
							<input type="text" name="email2" id=email2 placeholder="주소 입력">
							<select name="email3" id="email3">
								<option value="" disabled>선택</option>
								<option value="naver.com">naver.com</option>
								<option value="daum.net">daum.net</option>
								<option value="hanmail.com">hanmail.com</option>
								<option value="gmail.com">gmail.com</option>
								<option value="nate.com">nate.com</option>
								<option value="write" selected>직접 입력하기</option>
							</select> 
							<input type="button" id="btnAuthentication" value="인증번호">
						
							<span class="name">인증번호</span> 
							<input type="text" placeholder="인증번호 6자리 숫자 입력" id="authentication" name="authentication" class="name2"> 
							<div id="message">인증번호를 입력해주세요.</div>
						</div>
						
						<div>
							<input type="submit" id="checkBtn" value="확인">
						</div>
						
						<input type="hidden" id="subject" name="subject" value="btnId">
						
					</form>
					
					<hr>
					<span id="login"><span>Return to the DCBoard account?</span> &nbsp;<a href="/member/login">Log In</a></span>
				</div>
				<div id="right" class="findform">
					<h2>Find ID or PW</h2>
					<img src="/images/workman.png" id="work" alt="">

				</div>
			</div>
		</section>
		<!-- end slider section -->
	</div>

	<!-- footer section -->
	<foooter th:replace="fragments/footer::footerFragment"></foooter>
	<!-- footer section -->

	<script>

		var id = "[[${id}]]";
		
		if (id) {
			if (id == '널') {
				alert('입력하신 정보와 일치하는 아이디가 없습니다.');
			} else {
				alert('입력하신 정보와 일치하는 아이디는 \'' + id + '\'입니다.');
			}
			window.location.replace("http://localhost:8080/member/findIdPw"); 
		}
		
		var idBcolor = $('#btnId').css("background-color");
		var idColor = $('#btnId').css("color");
		var pwBcolor = $('#btnPw').css("background-color");
		var pwColor = $('#btnPw').css("color");
		
		$('#btnId').hover(function() {
			$('#btnId').css({"background-color":"#E09A57", "color":"white"});
		}, function(){
			$('#btnId').css({"background-color":idBcolor, "color":idColor});
		});
		
		$('#btnPw').hover(function() {
			$('#btnPw').css({"background-color":"#E09A57", "color":"white"});
		}, function(){
			$('#btnPw').css({"background-color":pwBcolor, "color":pwColor});
		});
	
		$('#btnId').click(function() {
			$('#idBox').show();
			$('#pwBox').hide();
			$('#btnId').css({"background-color":"#6BB7BE", "color": "white"});
			$('#btnPw').css({"background-color":"white", "color": "black"});
			
			$('#idname').attr("required", true);
			$('#tel2').attr("required", true);
			$('#tel3').attr("required", true);
			
			$('#inputId').attr("required", false);
			$('#pwname').attr("required", false);
			$('#email1').attr("required", false);
			$('#email2').attr("required", false);
			$('#authentication').attr("required", false);
			
			$('#subject').val("btnId");
			
			idBcolor = $('#btnId').css("background-color");
			idColor = $('#btnId').css("color");
			pwBcolor = $('#btnPw').css("background-color");
			pwColor = $('#btnPw').css("color");
		});
		
		$('#btnPw').click(function() {
			$('#idBox').hide();
			$('#pwBox').show();
			$('#btnId').css({"background-color":"white", "color": "black"});
			$('#btnPw').css({"background-color":"#6BB7BE", "color": "white"});
			
			$('#idname').attr("required", false);
			$('#tel2').attr("required", false);
			$('#tel3').attr("required", false);
			
			$('#inputId').attr("required", true);
			$('#pwname').attr("required", true);
			$('#email1').attr("required", true);
			$('#email2').attr("required", true);
			$('#authentication').attr("required", true);
			
			$('#subject').val("btnPw");
			
			idBcolor = $('#btnId').css("background-color");
			idColor = $('#btnId').css("color");
			pwBcolor = $('#btnPw').css("background-color");
			pwColor = $('#btnPw').css("color");
		});
		
		$('#email3').change(function() {
			var emailAddress = $(this).val();
			$('#email2').val(emailAddress);
			if (emailAddress=='write') {
				$('#email2').attr("disabled", false);
				$('#email2').val("");
				$('#email2').focus();
			} else {
				$('#email2').attr("disabled", true);
			}
			
		});
		
		
	</script>

</body>

</html>