#c1 {
    width: 1100px;
    height: 675px;
    margin: auto;
    border-radius: 20px 20px 20px 20px;
    box-shadow: -10px 10px 20px -10px gray;
}

.findform {
    width: 550px;
    height: 675px;
    background-color: white;
    padding: 30px 20px;
    float: left;
}

#left {
    border-radius: 20px 0 0 20px;
}

#right {
    background-color: #B8E5E0;
    border-radius: 0 20px 20px 0;
}

#mainlogo {
    width: 180px;
    margin: 20px auto;
    display: block;
}

h1 {
    text-align: center;
    margin: 5px 0;
    font-weight: bold;
}

#btns {
	width: 300px;
	height: 40px;
	text-align: center;
	margin: 0 auto;
	margin-top: 40px;
	display: table;
	border-collapse: collapse;
}

.btnTitle {
	outline: 0;
	border: 1px solid black;
	display: table-cell;
	width: 150px;
	height: 40px;
}

#btnId, #btnPw {
	border: none;
	outline: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	color: black;
}

#btnId:hover, #btnPw:hover {
	background-color: black;
	color: white;
}

/* 이건 디자인용 > 기능구현시 지워야함 */
#btnPw {
	background-color: black;
	color: white;
}

#underline {
	width: 300px;
	height: 3px;
	margin: 0 auto;
	background-color: black;
	margin-bottom: 20px;
}

.name {
    font-size: 1rem;
    margin: 5px 0 5px 105px;
}

.name2 {
    width: 250px;
    height: 40px;
    margin: 10px auto;
    padding-left: 8px;
    outline: none;
}

a {
    color: red;
    font-size: 0.8rem;
}

a:hover {
    color: #6BB7BE;
}

#loginbtn {
    border: none;
    outline: none;
    width: 300px;
    height: 40px;
    background-color: #6BB7BE;
    margin: 20px auto;
    display: block;
    color: white;
}

#loginbtn:hover {
    background-color: #E09A57;
}

#login {
    display: block;
    text-align: center;
    margin-top: 10px;
}

#login > span {
    font-size: 0.8rem;
}

h2 {
    font-weight: bold;
    text-align: right;
    margin-right: 30px;
    color: white;
}

#work {
    width: 600px;
    position: relative;
    left: -69px;
    top: 110px;
} 