#c1 {
    width: 1100px;
    height: 675px;
    margin: auto;
    border-radius: 20px 20px 20px 20px;
    box-shadow: -10px 10px 20px -10px gray;
}

.findform {
    width: 550px;
    height: 675px;
    background-color: white;
    padding: 30px 20px;
    float: left;
}

#left {
    border-radius: 20px 0 0 20px;
}

#right {
    background-color: #B8E5E0;
    border-radius: 0 20px 20px 0;
}

#mainlogo {
    width: 180px;
    margin: 20px auto;
    display: block;
}

h1 {
    text-align: center;
    margin: 5px 0;
    font-weight: bold;
}

#btns {
	width: 412px;
	height: 45px;
	text-align: center;
	margin: 0 auto;
	margin-top: 30px;
	display: table;
	border-collapse: collapse;
}

.btnTitle {
	outline: 0;
	border: 1px solid gray;
	display: table-cell;
	width: 206px;
	height: 45px;
}

#btnId, #btnPw {
	border: none;
	outline: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	color: black;
	font-size: 14.5px;
	font-weight: bold;
}

#btnId:hover, #btnPw:hover {
	background-color: #E09A57;
	color: white;
}

/* 이건 디자인용 > 기능구현시 지워야함 */
#btnId {
	background-color: #6BB7BE;
	color: white;
}

#underline {
	width: 412px;
	height: 3px;
	margin: 0 auto;
	background-color: #6BB7BE;
	margin-bottom: 20px;
}

#idBox, #pwBox {
	width: 412px;
	margin: 0 auto;
}

#pwBox {
	display: none;
}   

.title {
	font-size: 15px;
	font-weight: bold;
}

.content {
	font-size: 13.5px;
	font-weight: bold;
	margin-top: 2px;
	margin-bottom: 7px;
}

.name {
	display: inline-block;
	width: 59px;
    font-size: 14.5px;
    margin: 5px 0;

}

.name2 {
    width: 343px;
    height: 40px;
    margin: 5px 0;
    margin-left: 5px;
    padding-left: 8px;
    font-size: 14.5px;
    outline: none;
}

select {
	width: 78px;
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
    text-align: center;
    font-size: 14.5px;
    outline: none;
}

.line {
	margin: 0 10px;
}

input[type=tel] {
	width: 95px;
	height: 40px;
    margin-top: 10px;
    outline: none;
    font-size: 14.5px;
    text-align: center;
}

#inputId {
	width: 412px;
	height: 40px;
    margin: 5px 0;
    padding-left: 8px;
    outline: none;
    font-size: 14.5px;
}

#email1 {
	width: 100px;
	font-size: 14.5px;
}

#emailline {
	margin: 0 2.5px;
}

#email2 {
	width: 95px;
	height: 40px;
    margin: 5px 0;
    padding-left: 8px;
    outline: none;
    font-size: 14.5px;
}

#email3 {
	width: 20px;
	margin-right: 5px;
	text-align: center;
}

#authentication {
	border: none;
	outline: 0;
	width: 80px;
	height: 40px;
	font-size: 13px;
	font-weight: bold;
	background-color: #6BB7BE;
	color: white;
}

#authentication:hover {
	background-color: #E09A57;
	color: white;
}

#message {
	font-size: 12px;
	font-weight: bold;
	margin-left: 68px;
}

#checkBtn {
    border: none;
    outline: none;
    width: 412px;
    height: 45px;
    background-color: #6BB7BE;
    margin: 10px auto;
    margin-top: 20px;
    display: block;
    color: white;
    font-size: 14.5px;
	font-weight: bold;
}

#checkBtn:hover {
    background-color: #E09A57;
}

a {
    color: red;
    font-size: 0.8rem;
}

a:hover {
    color: #6BB7BE;
}

#login {
    display: block;
    text-align: center;
    margin-top: 10px;
}

#login > span {
    font-size: 0.8rem;
}

h2 {
    font-weight: bold;
    text-align: right;
    margin-right: 30px;
    color: white;
}

#work {
    width: 550px;
    position: relative;
    left: -20px;
    top: 120px;
} 